<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Blog</title>
    <!--  Bootstrap  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <!--Medium Style Editor  -->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css"
          type="text/css" media="screen" charset="utf-8">

    <!--    Custom CSS  -->

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    <!--    Fonts  -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap"
          rel="stylesheet">


</head>
<body class='loader'>

<!--Navbar  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary techfont custom-navbar">
    <div class="container container-fluid">
        <ul class="nav navbar-nav">
            <li><a class='navbar-brand bigbrand' href="{% url 'post_list' %}">My blog</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Page</a></li>
            <li class="nav-item"><a class="nav-link" href="https://github.com/caeserlondon" target="_blank">My
                GitHub</a></li>
            <li class="nav-item"><a class="nav-link" href="https://www.linkedin.com/in/caeser-ibrahim/" target="_blank">My
                LinkedIn</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_new' %}">New Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'post_draft_list' %}">drafts</a>
                </li>
                <form method="post" action="{% url 'logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link nav-link">Log Out</button>
                </form>


                <li>
                    <a class="nav-link">{{ user.username }}</a>
                </li>
                {% else %}
                <li>
                    <a class="nav navbar-right" href="{% url 'login' %}">
                        <i class="bi bi-person">Login</i>
                    </a>
                </li>
            {% endif %}

        </ul>

    </div>
</nav>

<!-- content Block -->

<div class="content container">
    <div class="row">
        <div class="col-md-8">
            <div class="blog_posts">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    </div>

</div>

<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"-->
<!--        crossorigin="anonymous"></script>-->

</body>
</html>